In [1]:
import pandas as pd
import matplotlib as mt
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'pandas'

In [4]:
dataset=pd.read_csv("/home/adarsh/Desktop/austin_weather.csv")
dataset

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71,67,61,82,54,25,...,29.97,29.88,10,10,10,12,5,21,0,
1315,2017-07-28,105,91,76,71,64,55,87,54,20,...,29.9,29.81,10,10,10,14,5,20,0,
1316,2017-07-29,107,92,77,72,64,55,82,51,19,...,29.86,29.79,10,10,10,12,4,17,0,
1317,2017-07-30,106,93,79,70,68,63,69,48,27,...,29.91,29.87,10,10,10,13,4,20,0,
1318,2017-07-31,99,88,77,66,61,54,64,43,22,...,29.97,29.91,10,10,10,12,4,20,0,

In [5]:
dataset.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

In [6]:
dataset.columns

Index(['Date', 'TempHighF', 'TempAvgF', 'TempLowF', 'DewPointHighF',
       'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent',
       'HumidityAvgPercent', 'HumidityLowPercent',
       'SeaLevelPressureHighInches', 'SeaLevelPressureAvgInches',
       'SeaLevelPressureLowInches', 'VisibilityHighMiles',
       'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH',
       'WindGustMPH', 'PrecipitationSumInches', 'Events'],
      dtype='object')

In [7]:
dataset.drop(["Date","TempAvgF","DewPointHighF","DewPointAvgF","DewPointLowF","HumidityHighPercent","HumidityLowPercent",'SeaLevelPressureHighInches', 'SeaLevelPressureAvgInches',
       'SeaLevelPressureLowInches','VisibilityHighMiles',
       'VisibilityAvgMiles', 'VisibilityLowMiles','WindHighMPH','WindGustMPH','Events'],axis=1,inplace=True)

In [8]:
dataset

      TempHighF  TempLowF HumidityAvgPercent WindAvgMPH PrecipitationSumInches
0            74        45                 75          4                   0.46
1            56        39                 68          6                      0
2            58        32                 52          3                      0
3            61        31                 56          4                      0
4            58        41                 71          2                      T
...         ...       ...                ...        ...                    ...
1314        103        75                 54          5                      0
1315        105        76                 54          5                      0
1316        107        77                 51          4                      0
1317        106        79                 48          4                      0
1318         99        77                 43          4                      0

[1319 rows x 5 columns]

In [9]:
dataset.isnull().sum()

TempHighF                 0
TempLowF                  0
HumidityAvgPercent        0
WindAvgMPH                0
PrecipitationSumInches    0
dtype: int64

In [10]:
dataset['PrecipitationSumInches']
dataset.head(10)

   TempHighF  TempLowF HumidityAvgPercent WindAvgMPH PrecipitationSumInches
0         74        45                 75          4                   0.46
1         56        39                 68          6                      0
2         58        32                 52          3                      0
3         61        31                 56          4                      0
4         58        41                 71          2                      T
5         57        39                 63          3                      0
6         60        45                 65          1                      T
7         62        40                 64          2                      T
8         64        36                 76          5                      0
9         44        35                 60          5                      0

In [37]:
dataset = dataset[dataset["PrecipitationSumInches"].str.contains("T") == False]
dataset

      TempHighF  TempLowF HumidityAvgPercent WindAvgMPH PrecipitationSumInches
0            74        45                 75          4                   0.46
1            56        39                 68          6                      0
2            58        32                 52          3                      0
3            61        31                 56          4                      0
5            57        39                 63          3                      0
...         ...       ...                ...        ...                    ...
1314        103        75                 54          5                      0
1315        105        76                 54          5                      0
1316        107        77                 51          4                      0
1317        106        79                 48          4                      0
1318         99        77                 43          4                      0

[1195 rows x 5 columns]

In [ ]:
train_a.info()